<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Made In Trees</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .table th {

            text-align: center;

        }
    </style>
</head>
<body style="background-color: #76b852" id="page-top" class="index">
<h1 class="col-lg-12 text-center bold" style="color: saddlebrown;font-family: KacstBook">Made in Trees</h1><br><br><br>
<hr>
<div class="row">
    <div class="col-lg-2 text-right bold">
        <a class="btn btn-default" style="text-align: left" href="/admin">Go BACK</a>
    </div>
    <div class="col-lg-1 text-left bold">
        <a class="btn btn-default" style="text-align: left" href="/addProduct">Add Product</a>
    </div>
    <div class="col-lg-2 text-right bold">
        <a class="btn btn-default" style="text-align: left" href="/uploadImages">Upload Images</a>
    </div>
    <div class="col-lg-2 text-right bold">
        <a class="btn btn-default" style="text-align: left" href="/productGallery">View Product Images</a>
    </div>
    <div class="col-lg-5 text-right bold">
        <a class="btn btn-default" style="text-align: right" href="javascript: document.logoutForm.submit()">Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
<hr>
<p style="text-align: center" class="alert-info" th:if="${addProductSuccess}">Product Added...!!!</p>
    <p style="text-align: center" class="alert-info" th:if="${uploadStatus}">Files Upload Success!!!"</p>

<section>
    <div class="container" id="maincontent" tabindex="2">
        <div class="row">
            <div class="col-lg-12">
                <br><div class="table-responsive">
                <table style="border-style: solid" class="table table-hover table-bordered text-center" th:if="${!products.isEmpty()}">
                    <thead>
                    <tr style="color:#c7254e">
                        <th>S.No</th>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Measurement Unit</th>
                        <th>Variety Name</th>
                        <th>Color</th>
                        <th>Size In Word</th>
                        <th>Size In Number</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="color: #122b40" th:each="product,stat : ${products}">
                        <form name="removeProductForm" th:action="@{/removeProduct}" method="post">
                        <td th:text="${stat.count}"></td>
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.measurementUnit}"></td>
                        <td th:text="${product.varietyName}"></td>
                        <td th:text="${product.colour}"></td>
                        <td th:text="${product.sizeInWord}"></td>
                        <td th:text="${product.sizeInNumber}"></td>
                        <td><input th:id="g" type="hidden" th:value="${product.id}" name="productId"/>
                            <button type="submit" class="removebutton">
                                Remove Product
                            </button>
                        </td>
                            </form>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>
    </div>
    </div>
</body>
</html>