<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>MadeInTrees</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <a class="btn btn-default" href="javascript: document.logoutForm.submit()">Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
        <h2>List of Active or Initialized subscriptions</h2>
        <p></p>
        <div class="table-responsive">
            <table th:if="${!subscriptionDeliveryRecordsToday.isEmpty()}" class="table table-bordered">
                <thead>
                <tr>
                    <th>Receiver's Name</th>
                    <th>Receiver's mobile</th>
                    <th>Date</th>
                    <th>End Date</th>
                    <th>Quantity per day</th>
                    <th>Quantity delivered</th>
                    <th>Total Price</th>
                    <th>Payment Status</th>
                    <th>Payment Mode</th>
                    <th>Delivery Address</th>
                    <th>Delivered</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subscriptionDeliveryRecord,stat : ${subscriptionDeliveryRecordsToday}" th:if="${subscriptionDeliveryRecord.subscription.paymentType=='cod' or subscriptionDeliveryRecord.subscription.subscriptionStatus=='active'}">
                    <td th:text="${subscriptionDeliveryRecord.subscription.deliveryAddress.addressHolderName}"></td>
                    <td th:text="${subscriptionDeliveryRecord.subscription.subscriber.mobile}"></td>
                    <td th:text="${#dates.format(subscriptionDeliveryRecord.date, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${#dates.format(subscriptionDeliveryRecord.subscription.endDate, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${subscriptionDeliveryRecord.subscription.quantityPerDay}"></td>
                    <td th:text="${subscriptionDeliveryRecord.quantityDelivered}"></td>
                    <td th:text="${subscriptionDeliveryRecord.subscription.totalPrice}"></td>
                    <td th:text="${subscriptionDeliveryRecord.subscription.paymentStatus}"></td>
                    <td th:text="${subscriptionDeliveryRecord.subscription.paymentType}"></td>
                    <td th:text="${subscriptionDeliveryRecord.subscription.deliveryAddress}"></td>
                    <td th:text="${subscriptionDeliveryRecord.delivered}"></td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>